.profile {
  width: 400px;
  height: fit-content;
  margin: 30px auto;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f0ffff;
  box-shadow: -2px 16px 37px -12px #000000bf;
}
.description {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding: 20px;
  color: #858282;
}
.avatar {
  display: block;
  width: 50%;
  border-radius: 50%;
  background-color: #00ffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.name {
  font-size: 32px;
  font-weight: 700;
  color: #000000;
}
.stats {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #e8eff8;
}
.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 20px;
  border: 1px solid #c0d0e1;
  width: calc(100% / 3);
}
.label {
}
.quantity {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}
