.profile {
  width: 400px;
  height: fit-content;
  margin: 30px auto;
  border-radius: 8px;
  overflow: hidden;
  background-color: azure;
  box-shadow: -2px 16px 37px -12px rgba(0, 0, 0, 0.75);
}
.description {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding: 20px;
  color: rgb(133, 130, 130);
}
.avatar {
  display: block;
  width: 50%;
  border-radius: 50%;
  background-color: aqua;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.name {
  font-size: 32px;
  font-weight: 700;
  color: black;
}
.stats {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: rgb(232, 239, 248);
}
.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 20px;
  border: 1px solid rgb(192, 208, 225);
  width: calc(100% / 3);
}
.label {
}
.quantity {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
